# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# TOPPERS files
HoikuCam/Debug/HoikuCam.*
HoikuCam/Debug/cfg*_out.*
HoikuCam/Debug/*.timestamp
HoikuCam/Debug/kernel_cfg.*
HoikuCam/Debug/tinet_cfg.*
HoikuCam/Debug/gen
asp3_dcre/Debug/asp.*
asp3_dcre/Debug/cfg*_out.*
asp3_dcre/Debug/*.timestamp
asp3_dcre/Debug/kernel_cfg.*
asp3_dcre/Debug/gen
asp3_dcre/Debug/offset.h

!.gitkeep

